:root {
  background-color: #191970;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: font-family: 'Turret Road', cursive;
  padding: 0;
  margin: 0;
}

div.container-fluid {
  background-color: #191970;
  font-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 68vw;
  height: 55em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  max-width: 40rem;
  min-width: 319px;
  margin: auto;
  border-radius: 10px;
  border: dotted black 0.1rem;
}

.hidden {
  display: none;
}

.btn:hover {
  border: 0.1rem solid #5B5B5B;
  cursor: pointer;
  box-shadow: 5px 10px 8px #5B5B5B;
}

div#quiz {
  display: grid;
  justify-content: space-around;
  grid-row-gap: 1.5em;
  align-content: center;
  margin-bottom:  0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.choice-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: solid blue 1px;
  color: blue;
  border-radius: 5px;
  padding: 1em;
  margin: 0;
  font-size: 1.6em;
}
