:root {
  background-color: #1B1B1B;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: font-family: 'Turret Road', cursive;
  padding: 0;
  margin: 0;
}

div.container-fluid {
  background-color: #1B1B1B;
  font-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
  padding-bottom: 10em;
  padding-left: 15em;
  padding-right: 15em;
}

div.card {
  min-width: 60vw;
  max-width: 75vw;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-bottom: 1em;
  border-radius: 10px;
  border: dotted black 0.1rem;
}

.hidden {
  display: none;
}

.btn:hover {
  border: 0.1rem solid #5B5B5B;
  cursor: pointer;
  box-shadow: 5px 10px 8px #5B5B5B;
}

div#quiz {
  display: grid;
  justify-content: space-around;
  grid-row-gap: 1.5em;
  align-content: center;
  margin-bottom: 10px;
  padding: 1em;
  padding-bottom: 2.5em;

}

.choice-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: solid silver 1px;
  color: black;
  border-radius: 5px;
  padding: 1em;
  font-size: 1.8em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.correct {
  background-color: ForestGreen;
}

.incorrect {
  background-color: red;
}

#hud {
  display: block;
  color: LightGray;
  justify-content: space-around;
  font-size: 1.75em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#providersForm,
input#programNameForm,
input#usernameForm  {
  width: 160%;
  text-align: center;
  margin: 0.5em;
  padding: 0.75em;
  font-size: 1.6em;
  border: none;
  box-shadow: 0.2em 0.4em 0.6em #888888;
}

input::placeholder {
  color: #888888;
}
